@model ClueGame.Models.GameViewModel

<div class="row">
    <h1>@ViewData["Title"]</h1>
    <h3>Who killed (again) Sean Bean?</h3>
    <p>@ViewData["Message"]</p>
</div>
<form asp-controller="Home" asp-action="Game" method="post" class="form-horizontal" role="form">
    <div class="row">

        <div class="col-md-4">
            <p>Suspects</p>
            <ul>
            @{
                for (var i = 0; i < Model.Suspects.Count(); i++)
                {
                    <li>
                    <input asp-for="SelectedSuspectId" value="@Model.Suspects[i].Id" type="radio"/>
                    <label asp-for="@Model.Suspects[i].Id">@Model.Suspects[i].Name</label>
                    <input asp-for="@Model.Suspects[i].Id" type="hidden"/>
                    </li>
                }
            }
            </ul>
        </div>
        <div class="col-md-4">
            <p>Weapons</p>
            <ul>
            @{
                for (var i = 0; i < Model.Weapons.Count(); i++)
                {
                    <li>
                    <input asp-for="SelectedWeaponId" value="@Model.Weapons[i].Id" type="radio"/>
                    <label asp-for="@Model.Weapons[i].Id">@Model.Weapons[i].Name</label>
                    <input asp-for="@Model.Weapons[i].Id" type="hidden"/>
                    </li>
                }
            }
            </ul>
        </div>
        <div class="col-md-4">
            <p>Place</p>
            <ul>
            @{
                for (var i = 0; i < Model.Places.Count(); i++)
                {
                    <li>
                    <input asp-for="SelectedPlaceId" value="@Model.Places[i].Id" type="radio"/>
                    <label asp-for="@Model.Places[i].Id">@Model.Places[i].Name</label>
                    <input asp-for="@Model.Places[i].Id" type="hidden"/>
                    </li>
                }
            }
            </ul>
        </div>
    </div>
    @{
        var gameOver = ViewData["GameOver"]== "true" ? true : false;
        if(!gameOver) {
            <button type="submit" class="btn btn-primary">Acusar!</button>
        }
    }
</form>

