﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Clue Game</h1>
    <p class="lead">Who killed (this time) Sean Bean?!</p>
    <p>@ViewData["Message"]</p>
</div>
<div class="col-md-12 text-center">
    @Html.ActionLink("Start the game", "Game", "Home", null, new { @class = "btn btn-primary" })
</div>

